@import 'base/font';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
}

@import 'blocks/header';
@import 'blocks/category';
@import 'blocks/navigation';
@import 'blocks/product';


@import 'blocks/media';